html {
    margin: 0 !important;
    padding: 0 !important;
    background-color: #202020;
    width: 100%;
    height: 100%;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100%;
}

.container {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

#root {
    width: 100%;
    height: 100%;
}

.vcenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 16vh;
    font-family: 'Galindo';
}

blue {
    color: #2F80ED;
}

green {
    color: #27AE60;
}

.aws-btn {

    --button-default-height: 51px;
    --button-default-font-size: 14px;
    --button-default-border-radius: 2px;
    --button-horizontal-padding: 20px;
    --button-raise-level: 4px;
    --button-hover-pressure: 1;
    --transform-speed: .175s;
    --button-primary-color: #2F80ED;
    --button-primary-color-dark: rgb(34, 96, 177);
    --button-primary-color-light: #ffffff;
    --button-primary-color-hover: rgb(34, 95, 175);
    --button-primary-border: none;
    --button-secondary-color: #27AE60;
    --button-secondary-color-dark: rgb(27, 122, 67);
    --button-secondary-color-light: #ffffff;
    --button-secondary-color-hover: rgb(26, 117, 64);
    --button-secondary-border: none;
    --button-anchor-color: #0e4f88;
    --button-anchor-color-dark: #072743;
    --button-anchor-color-light: #ffffff;
    --button-anchor-color-hover: #0d4a7f;
    --button-anchor-border: none;

}

buttontext {
    font-family: 'Montserrat';
    font-size: 3vh;
    font-weight: bold;
}
